@model IEnumerable<ClinicaP2.Models.Especialidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Lista de Especialidades</h2>


<table class="table">
    <tr>
        <th>
           ESPECIALIDAD
        </th>
        <th>
            ESTADO
        </th>
        <th>
            COSTO
        </th>
        <th></th>
    </tr>

@{ 

    string estado = "";


    foreach (var item in Model)
    {

        if (item.EspEstado==1)
        {
            estado = "ACTIVO";
        }
        else
        {
            estado = "INACTIVO";
        }


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EspEspecialidad)
        </td>
        <td>
           @estado
        </td>

        <td>
            @item.EspPrecio
        </td>
        <td>
            <button class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.EspCodigo })</button>
        </td>
    </tr>
        }
    }
</table>
