@model IEnumerable<ClinicaP2.Models.Especialidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Lista de Especialidades</h2>

@{

    foreach (var item in Model)
    {
        <a href="@Url.Action("ListMedicosporesp", "Especialidads", new { id = item.EspCodigo })">
            <img src="@Url.Content("~/Content/Images/"+item.EspEspecialidad+".jpg")" class="img-rounded" height="236" width="304">
            @Html.DisplayFor(modelItem => item.EspEspecialidad)
        </a>
    }




















    //////////////////////////////////////////////////////************/////////////////
    ///

    <article data-id="58888" data-price="0.75" data-name="Website template" data-brand="Web" data-category="business &amp; services" data-variant="premium" data-list="Cross-page - Website Templates - Bootstrap - trendiness" data-position="1" class="product">
        <a href="https://www.templatemonster.com/es/plantillas-web-tipo-58888.html" class="product-image-wrapper">
            <img src="https://s.tmimgcdn.com/scr/345x215/58800/plantilla-web-intense-58888_58888-2-original.jpg" alt="Plantilla Web &amp;quot;Intense&amp;quot; #58888" data-src="https://s.tmimgcdn.com/scr/345x215/58800/plantilla-web-intense-58888_58888-2-original.jpg" data-srcset="https://s.tmimgcdn.com/scr/345x215/58800/plantilla-web-intense-58888_58888-2-original.jpg 1x,https://s.tmimgcdn.com/scr/690x430/58800/plantilla-web-intense-58888_58888-2-original.jpg 2x" class="product-image ls-is-cached lazyloaded" srcset="https://s.tmimgcdn.com/scr/345x215/58800/plantilla-web-intense-58888_58888-2-original.jpg 1x,https://s.tmimgcdn.com/scr/690x430/58800/plantilla-web-intense-58888_58888-2-original.jpg 2x"> <button type="button" title="Añadir a la colección" class="product-set-favorite btn btn_icon">
                <svg class="product-set-favorite-icon btn-icon"><use xlink:href="/assets/images/sprite-svg-a41b7242acd8e9333b58c67f3d09b94b.svg#heart-usage"></use></svg>

            </button>
        </a> <div class="product-details">
            <div class="product-name">
                <span data-bg="/assets/icons/types/type-html5-2.svg" class="product-name-icon lazyloaded" style="background-image: url(&quot;/assets/icons/types/type-html5-2.svg&quot;);"></span> <span class="product-name-links">
                    <a href="https://www.templatemonster.com/es/plantillas-web-tipo-58888.html" class="product-name-link"><h3 class="product-name-title">Intense Responsivo Tema Web</h3></a> <span class="product-name-vendor">
                        por <a href="https://www.templatemonster.com/es/authors/zemez/" class="product-name-vendor-link">ZEMEZ</a>
                    </span>
                </span>
            </div> <div class="product-info">
                <div class="product-info-line"><div class="rating product-rating"><span class="rating-stars product-rating-stars "></span></div> <svg class="product-info-membership"><use xlink:href="/assets/images/sprite-svg-a41b7242acd8e9333b58c67f3d09b94b.svg#one"></use></svg></div> <div class="product-info-line">
                    <div class="product-sales">
                        <span class="product-sales_amount">
                            4.002
                        </span> Ventas
                    </div> <div class="product-price">
                        64&nbsp;€
                    </div>
                </div>
            </div> <div class="product-links">
                <a href="https://www.templatemonster.com/es/plantillas-web-tipo-58888.html" class="product-link product-link_details btn btn_3">
                    Detalles
                </a> <a href="https://www.templatemonsterpreview.com/es/demo/58888.html" rel="noopener noreferrer nofollow" target="_blank" class="product-link product-link_demo btn btn_2">
                    Demo en vivo
                </a>
            </div>
        </div>
    </article>





}

