@model IEnumerable<ClinicaP2.Models.Especialidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-info">Especialidades</h2>

@{

    foreach (var item in Model)
    {
        <a href="@Url.Action("ListMedicosporesp", "Especialidads", new { id = item.EspCodigo })">
            <img src="@Url.Content("~/Content/Images/"+item.EspEspecialidad+".jpg")" class="img-rounded" height="236" width="304">
            @Html.DisplayFor(modelItem => item.EspEspecialidad)
        </a>
    }
}

