@model IEnumerable<ClinicaP2.Models.Consulta>

@{
    ViewBag.Title = "ListConsultaMedico";
}

<h2>Mis consultas</h2>


@{ 


    string estado = "";


}





<table class="table">
    <tr>
        <th>
            N°
        </th>
        <th>
            Fecha de consulta
        </th>
        <th>
            Paciente
        </th>
        <th>
            Estado
        </th>
        <th>Detalle</th>
    </tr>

    @foreach (var item in Model)
    {

        switch (item.ConsEstado)
        {
            case 1: estado = "Pendiente"; break;
            case 2: estado = "Atendido"; break;
            case 3: estado = "Suspendido"; break;
}

<tr>
    <td>
        @item.ConsCodigo
    </td>
    <td>
        @item.ConsFecha
    </td>
    <td>
        @item.Paciente.Persona.PerNombre
    </td>
    <td>
      @estado
    </td>
    <td>
        @Html.ActionLink("Detalle", "DetailsConsulta", new { id = item.ConsCodigo }) |


    </td>
</tr>
}

</table>
